.colorText{
  color: #493176;
}
.obliqueText{
  font-style: oblique;
}



.login-modal .modal-wrapper {
  height: 45%;
  top: 55%;
  position: absolute;
  display: block;
  border-radius: 20px 20px 0 0;
}
