<ion-content class="ion-padding">
  <ion-card >
    <div class="creditQuote ">
      <h1>Firma</h1>
       <p style="font-size: 20px;">de contratos de crédito</p>
    </div>
    <br><br>
    <ion-row style="padding-left: 10px;">
      <ion-col size="6">
        <p class="colorText" style=" text-decoration: underline; font-size: 17px; margin-top: 7px;" class="colorText">Contrato de crédito</p>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <P class="colorText obliqueText">No</P>
        <ion-toggle style="margin-top: -10px;"  color="success"></ion-toggle>
          <p class="colorText obliqueText">Si</p>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <p class="colorText" style=" text-decoration: underline; font-size: 17px; margin-top: 7px;" class="colorText">Carátula de operación</p>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <P class="colorText obliqueText">No</P>
        <ion-toggle style="margin-top: -10px;"  color="success"></ion-toggle>
          <p class="colorText obliqueText">Si</p>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <p class="colorText" style=" text-decoration: underline; font-size: 17px; margin-top: 7px;" class="colorText">Pagare</p>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <P class="colorText obliqueText">No</P>
        <ion-toggle style="margin-top: -10px;"  color="success"></ion-toggle>
          <p class="colorText obliqueText">Si</p>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <p class="colorText" style=" text-decoration: underline; font-size: 17px; margin-top: 7px;" class="colorText">Tabla de amortización</p>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <P class="colorText obliqueText">No</P>
        <ion-toggle style="margin-top: -10px;"  color="success"></ion-toggle>
          <p class="colorText obliqueText">Si</p>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <p class="colorText" style=" text-decoration: underline; font-size: 17px; margin-top: 7px;" class="colorText">Referencias de pago</p>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <P class="colorText obliqueText">No</P>
        <ion-toggle style="margin-top: -10px;"  color="success"></ion-toggle>
          <p class="colorText obliqueText">Si</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <br>
      <div style="text-align: center; ">
        <ion-button (click)="onSubmit()" (click)="firmModal()">
          Aceptar
        </ion-button>
      </div>
      <br>
  </ion-card>
</ion-content>
