<ion-content>
  <ion-card>
    <ion-icon style="color:#493176; font-size: 30px; margin-top: 30px;" name="arrow-back-outline"></ion-icon>
      <br>
    <ion-row>
      <ion-col size="7">
        <p class="colorText" class="colorText"> Acepto términos y condiciones de CAME, así como
          la cláusula de medios electrónico tales como el NIP.</p>
      </ion-col>
      <ion-col size="5">
        <ion-item>
          <P class="colorText obliqueText">No</P>
         <ion-toggle style="margin-top: -10px;"  color="success"></ion-toggle>
          <p class="colorText obliqueText">Si</p>
        </ion-item>
      </ion-col>
      <ion-col size="7">
        <p class="colorText"> Autorizo la consulta de mi información bancaria y
           mi registro en circulo de crédito.</p>
      </ion-col>
      <ion-col size="5">
        <ion-item>
          <P class="colorText obliqueText">No</P>
         <ion-toggle style="margin-top: -10px;"  color="success"></ion-toggle>
          <p class="colorText obliqueText">Si</p>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <p class="colorText">Consultamos tu Historial
          Autorización para solicitar Reporte de Crédito Autorizo
          expresamente a Consejo de Asistencia al
          Microempresario S.A. de C.V.S.F.P. (CAME)
          para que lleve a cabo investigaciones que estime
          convenientes, sobre mi comportamiento crediticio en
          las SIC ́s. Conozco la naturaleza y alcance de la
          información que se solicitara, del uso que se dará y
          que se podrá realizar consultas periódicas de mi
          historial crediticio, consiento que esta autorización
          tenga vigencia de <strong>3</strong> años contados a partir de hoy, y
          en su caso mientras mantengamos relación juridicial.</p>
          <br>
          <p class="colorText">Acepto que este documento quede bajo propiedad de
            CAME y/o cualquier Sociedad de Información
            Crediticia para efectos de control y cumplimiento
            del artículo <strong>28</strong> de la Ley para Regular a Las
            Sociedades de Información Crediticia; mismo que
            señala que las Sociedades sólo podrán proporcionar
            información a un Usuario, cuando éste cuente con
            la autorización expresa del Cliente mediante su
            consentimiento expreso</p>
            <div >
              <ion-item style="padding: 15px;">
                <ion-label class="colorText" color="medium" position="floating">Favor de introducir el código </ion-label>
                <ion-input ></ion-input>
              </ion-item>
            </div>
      </ion-col>
    </ion-row>
      <div style="text-align: center; ">
        <ion-button (click)="onSubmit()">
          Firmar
        </ion-button>
      </div>
      <br>
      <p style="text-align: center; font-size: 18px;"> Reenviar
        <a href="" class="colorText">  código</a>
      </p><br>
  </ion-card>

</ion-content>
