<ion-content>
  <div style="float: right; padding: 10px; font-size: 30px;">
    <ion-icon (click)="dismiss()" style="cursor: pointer;" name="close-outline"></ion-icon>
  </div>
  <br><br><br>
  <div class="creditQuote ">
    <h1>Contrato de crédito</h1>
  </div>
  <div class="ion-padding">
    <div class="border" >
      <p class="padding">Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Natus facilis quidem laudantium, numquam, iste
        distinctio, eius itaque voluptate voluptates ex recusandae
         quisquam veniam blanditiis odit doloribus perspiciatis
          quaerat necessitatibus! Architecto?
        </p>
    </div>
    <br>
    <div style="text-align: center; ">
      <ion-button (click)="onSubmit()">
        Aceptar
      </ion-button>
    </div>
  </div>
</ion-content>
