<ion-grid class="tabs">
  <ion-row>
    <ion-col size-xs="12" size-sm="4" *ngFor="let item of contentCard">
      <ion-chip (click)="onSelected(item)" [ngClass]="item.selected ? 'active' : 'nonActive' ">
        <ion-item>
          <ion-icon slot="start" [ios]="icon + '-outline'" [md]="icon + '-sharp'"></ion-icon>
          <ion-label [innerHTML]="item.title">
          </ion-label>
        </ion-item>
      </ion-chip>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card class="inner" [innerHtml]="selectInsuranceContent"></ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
