<ion-header>
  <ion-toolbar class="new-background-color" style="height: 120px;">
    <ion-title color="light">
      <ion-grid>
        <ion-row>
          <ion-icon style="margin-top: 30px; font-size: 30px; cursor: pointer; " (click)="onClick()"  name="arrow-back-outline"></ion-icon>
            <ion-col size="8" offset="2">
              <ion-img  src="../../../assets/icon/techreo-logoBlanc.png" style="width:70%; margin-top: 15px; "></ion-img>
              <!--<p style="text-align: center; margin-top: -10PX; margin-left: -40px;">Firma SIC</p>-->
            </ion-col>
      </ion-row>
    </ion-grid>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <router-outlet></router-outlet>
</ion-content>
